<div class="foodsubmit">
<p>Itt küldhetsz be újabb recepteket! Ehhez nem kell mást tenned mint kitölteni az alábbi mezőket!</p>

<!--<form #newFoodForm="ngForm" (ngSubmit)="onSubmit(newFoodForm)">-->

  <input type="text" placeholder="Étel neve"
         required maxlength="25"
         [(ngModel)]='nev' name="nev"
         #pickedName="ngModel">
  <div *ngIf="!pickedName.valid && pickedName.touched">
    Étel nevet mindenképp adj meg!
  </div>

  <input type="text" 
         placeholder="pl: liszt" 
         required maxlength="25" 
         [(ngModel)]='osszetevok' 
         name="osszetevok" 
         #osszetevok1="ngModel">

  <div *ngIf="!osszetevok1.valid && osszetevok1.touched">
  Első összetevőt mindenképp adj meg!
  </div>

  <input type="text" placeholder="pl: 2" required
         [(ngModel)]='mennyiseg' name="mennyiseg"
         #mennyiseg1="ngModel">
  <div *ngIf="!mennyiseg1.valid && mennyiseg1.touched">
    Első összetevő mennyiségének megadása kötelező!
  </div>

  <input type="text" placeholder="pl: 580" required
        [(ngModel)]='ar' name="ar"
        #ar1="ngModel">
        <div *ngIf="!ar1.valid && ar1.touched">
          Ár megadása kötelező!
        </div>
  <button (click)="onSubmit()">
      Elküld!
    </button>
  
  
<!--
  <h1>{{nev}} {{osszetevok | uppercase}} {{mennyiseg}} {{ar}}</h1>
  <button type="submit" [disabled]="!newFoodForm.form.valid"   (click)="onSubmit()">
    Elküld!
  </button>

  <button type="button" (click)="newFoodForm.reset()">
    Reset!
  </button>
-->
<!--</form>-->

</div>
