<div class="foodsubmit">
<p>Itt küldhetsz be újabb recepteket! Ehhez nem kell mást tenned mint kitölteni az alábbi mezőket!</p>

<!--<form #newFoodForm="ngForm" (ngSubmit)="onSubmit(newFoodForm)">-->
<div>
  <input type="text" placeholder="Étel neve"
         required maxlength="25"
         [(ngModel)]='nev' name="nev"
         #pickedName="ngModel">
  <div *ngIf="!pickedName.valid && pickedName.touched">
    Étel nevet mindenképp adj meg!
  </div>
  </div>
<div>
  <input type="text"
         placeholder="pl: liszt"
         required maxlength="25"
         [(ngModel)]='osszetevok'
         name="osszetevok"
         #osszetevok1="ngModel">

  <div *ngIf="!osszetevok1.valid && osszetevok1.touched">
  Első összetevőt mindenképp adj meg!
  </div>
  </div>
<div>
  <input type="number" placeholder="pl: 2"  step="0.1" required
         [(ngModel)]='mennyiseg' name="mennyiseg"
         #mennyiseg1="ngModel">
  <span *ngIf="!mennyiseg1.valid && mennyiseg1.touched">
    Első összetevő mennyiségének megadása kötelező!
  </span>

  <select [(ngModel)]='mennyisegselect' name="mennyisegselect">
    <option value="kg" >kg</option>
    <option value="ek">evőkanál</option>
    <option value="tk">teáskanál</option>
    <option value="dkg">dkg</option>
    <option value="gramm">gramm</option>
    <option value="db">db</option>
    <option value="liter">liter</option>
  </select>
</div>

<div>
  <input type="number" placeholder="pl: 580" required
        [(ngModel)]='ar' name="ar"
        #ar1="ngModel">
        <div *ngIf="!ar1.valid && ar1.touched">
          Ár megadása kötelező!
        </div>
        </div>
  <button [disabled]="!pickedName.valid || !osszetevok1.valid || !mennyiseg1.valid || !ar1.valid" (click)="onSubmit()">
      Elküld!
    </button>

    <ol>
      <li *ngFor="let food of foodsList">
        <span>{{ food.nev }} {{ food.osszetevok }} {{ food.mennyiseg }} {{ food.mennyisegselect }} {{ food.ar }}</span>
      </li>
    </ol>

<!--
  <h1>{{nev}} {{osszetevok | uppercase}} {{mennyiseg}} {{ar}}</h1>
  <button type="submit" [disabled]="!newFoodForm.form.valid"   (click)="onSubmit()">
    Elküld!
  </button>

  <button type="button" (click)="newFoodForm.reset()">
    Reset!
  </button>
-->
<!--</form>-->

</div>
