h1 {
  color: #369;
  font-family: 'Carter One', cursive;
  font-size: 250%;
}
@charset "utf-8";
.cim {
    text-align: center;
    color: darkblue;
    text-shadow: inherit;
    font-size: 35px;
	padding-top: 10px;
}
.container{
	align-content: center;
	display: relative;
}




#container{
  display: table;
  margin: 0 auto;
  text-align:center;
  font-family: 'Carter One', cursive;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
#container2{
  width: 930px;
  display: table;
  margin: 0 auto;
  text-align:center;
		position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

p {
    text-align: center;
    color: white;
    text-shadow: inherit;
    font-size: 18px;
}
.buttons {
    text-align:center;
}
#food-button:hover{
	/*border-radius: 6px;
	color: white;
	background-color: navy;
	opacity: 0.3;
	*/
	background-color: #e7e7e7;
}
#food-button{
	/*border-radius: 6px;
	color: navy;*/
	 background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
body {
    /*background-color: #f8f8f8;*/
	/*background-color: #d3d3d3 ;*/
    background-position: center top;
    font-family: "Georgia", "Times", serif;
    background-image: url(app/images/hatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-clip: border-box;
}
.headertable{
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.headerlink:link{
	text-decoration: none;
	font-size: 18px;
	color: white;
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.headerlink:hover{
	text-decoration: none;
	font-size: 24px;
	color: black;
	//background-color: white;
	opacity: .9;
	border-radius: 3px;
}

.headerlink:visited{
	text-decoration: none;
	font-size: 18px;
	color: white;
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.menutd{
  display:absolute;
  text-align:center;
    align-content: center;
	width:300px;
	height: 30px;
}
.footer-text{
	text-align: left;
	font-size: 10px;
}
.menu{
  //display: table;
//  margin: 0 auto;
//  text-align:center;
  //align-content: center;
	width:930px;
	height:40px;
	background-color:gray;
	opacity: 0.8;
}
.fooldal-leiras{
	width: 900px;
	background-color:gray;
	opacity: 0.8;
}
#keszitok-leiras{
	width: 904px;
	background-color:gray;
	display: inline-block;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
#keszitok-leiras1{
	width: 450px;
	background-color:gray;
	display: inline-block;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
#keszitok-leiras2{
	width: 450px;
	display: inline-block;
	background-color:gray;
	opacity: 0.92;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s;
}
#leftstyle{
	padding-top:3px;
  width: 300px;
  display: inline-block;
  background-color:gray;
  opacity: 0.8;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 4s;
  animation-name: animatebottom;
  animation-duration: 4s;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
	position: absolute;
	left: 45%;
  	top: 40%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#etelek-feliras{
	border: 8px solid #f3f3f3;
	width: 900px;
	background-color:gray;
	display: inline-block;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
#etelek-gombok{
	 border: 8px solid #f3f3f3;
	width: 900px;
	background-color:gray;
	display: inline-block;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
