.idea/
*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
build/
out/
.idea/modules.xml
.idea/workspace.xml

cheapfoodweb/cheapfoodweb.iml
CheapFood.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/compiler.xml
.idea/artifacts/cheapfoodweb_war_exploded.xml
