<!--<etelek></etelek>-->
<div>
    <h1>Minden kaja 800-1000 Ft között:</h1>
    <table class="foodlistTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>Mennyiség</th>
                <th>MennyiségFajta</th>
                <th>Elkészítési idő(perc)</th>
                <th>Összár(Ft)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of asdf; let i=index" (click)='findIngById(food.id, i)' [class.active]="i == selectedRow">
                <td>
                    <p>{{food.id}} </p>
                </td>
                <td>
                    <p>{{food.name}} </p>
                </td>
                <td>
                    <p>{{food.mennyiseg}} </p>
                </td>
                <td>
                    <p>{{food.mennyisegfajta | quantity}} </p>
                </td>
                <td>
                    <p>{{food.elkeszitesi_ido}} </p>
                </td>
                <td>
                    <p>{{food.osszar}} </p>
                </td>
            </tr>
            <ol *ngFor="let ing of adf">
                    <li>{{ing.hozzavalok_name}}</li>
            </ol>
        </tbody>
    </table>
</div>